.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

.container {
  height: 100vh;
  display: 'flex'; 
  flex-direction: 'column'; 
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
  url("/wallpaper.jpg");
  background-size: cover;
}
