.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

.container {
  height: 100vh;
}

.content {
  display: flex;
  padding-top: 63.99px;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.leftbar {
  position: fixed;
  overflow-x: hidden;
}

.books {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 300px;
  margin-right: auto;
  padding: "0 auto";
}

.books h3 {
  margin-left: 20px;
  margin-bottom: 0;
}

.bookcard {
  display: flex;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.navigation {
  margin-top: 0;
  margin-bottom: auto;
  position: fixed;
  width: 100%;
  height: 63.99px;
}
