@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.landingcontainer {
  /* background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1)); */
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  color: white;
}

.landingcontainer .content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.landingcontainer .data {
  /* min-height: 100%; */
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.landingcontainer .footer {
  height: 100px;
  margin-top: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.landingcontainer .image {
  width: 300px;
}

.landingcontainer .para {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.landingcontainer ul {
  padding: "auto 40px";
  list-style-type: none;
  display: flex;
}

.landingcontainer li {
  margin-right: 50px;
  font-size: 20px;
}

.landingcontainer a {
  text-decoration: none;
  color: white;
  display: flex;
}

.landingcontainer span {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
}

.landingcontainer .ourteam {
  width: "100%";
  padding-top: "200px";
  margin-left: auto;
  margin-right: auto;
  height: 800px;
}

.landingcontainer .ourteam h2 {
  text-align: center;
}
